<section class="container-fl name list">
    <div class="row">
        <div class="col-12">
            <h1 class="title">Standards</h1>
        </div>
    </div>
    <div class="row head__list">
        <div class="col-md-10 col-8 d-flex align-items-center ">
            Standars
        </div>
        <div class="col-md-1 col-2">
            Yes
        </div>
        <div class="col-md-1 col-2">
            No
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar1" id="st_1" />
            <label class="label__yes" for="st_1"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar1" id="st_2" />
            <label class="label__no" for="st_2"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Developer spaces with opportunity provider</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar2" id="st_3" />
            <label class="label__yes" for="st_3"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar2" id="st_4" />
            <label class="label__no" for="st_4"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar3" id="st_5" />
            <label class="label__yes" for="st_5"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar3" id="st_6" />
            <label class="label__no" for="st_6"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar4" id="st_7" />
            <label class="label__yes" for="st_7"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar4" id="st_8" />
            <label class="label__no" for="st_8"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar5" id="st_9" />
            <label class="label__yes" for="st_9"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar5" id="st_10" />
            <label class="label__no" for="st_10"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar6" id="st_11" />
            <label class="label__yes" for="st_11"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar6" id="st_12" />
            <label class="label__no" for="st_12"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar7" id="st_13" />
            <label class="label__yes" for="st_13"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar7" id="st_14" />
            <label class="label__no" for="st_14"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar8" id="st_15" />
            <label class="label__yes" for="st_15"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar8" id="st_16" />
            <label class="label__no" for="st_16"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar9" id="st_17" />
            <label class="label__yes" for="st_17"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar9" id="st_18" />
            <label class="label__no" for="st_18"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar10" id="st_19" />
            <label class="label__yes" for="st_19"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar10" id="st_20" />
            <label class="label__no" for="st_20"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar11" id="st_21" />
            <label class="label__yes" for="st_21"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar11" id="st_22" />
            <label class="label__no" for="st_22"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar12" id="st_23" />
            <label class="label__yes" for="st_23"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar12" id="st_24" />
            <label class="label__no" for="st_24"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar13" id="st_25" />
            <label class="label__yes" for="st_25"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar13" id="st_26" />
            <label class="label__no" for="st_26"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar14" id="st_27" />
            <label class="label__yes" for="st_27"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar14" id="st_28" />
            <label class="label__no" for="st_28"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar15" id="st_29" />
            <label class="label__yes" for="st_29"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar15" id="st_30" />
            <label class="label__no" for="st_30"></label>
        </div>
    </div>
    <div class="row standars__row">
        <div class="col-md-10 col-8 d-flex align-items-center">
            <p>Personal goals setting</p>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__yes" type="radio" name="standar16" id="st_31" />
            <label class="label__yes" for="st_31"></label>
        </div>
        <div class="col-md-1 col-2 d-flex align-items-center justify-content-center">
            <input class="radio__no" type="radio" name="standar16" id="st_32" />
            <label class="label__no" for="st_32"></label>
        </div>
    </div>
</section>