<section class="container-fl name list">
    <div class="row">
        <div class="col-12">
            <h1 class="title">Standards</h1>
        </div>
    </div>
    <div class="row head__list">
        <div class="col-10 ">
            Standars
        </div>
        <div class="col-1">
            Yes
        </div>
        <div class="col-1">
            No
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar1" />
            <label for="standar1"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar1" />
            <label for="standar1"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Developer spaces with opportunity provider
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar2" />
            <label for="standar2"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar2" />
            <label for="standar2"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar3" />
            <label for="standar3"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar3" />
            <label for="standar3"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar4" />
            <label for="standa4"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar4" />
            <label for="standar4"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standars5" />
            <label for="standars5"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standars5" />
            <label for="standars5"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standars6
            " />
            <label for="standars6
            "></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standars6
            " />
            <label for="standars6
            "></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standars7" />
            <label for="standars7"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standars7" />
            <label for="standars7"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standars8" />
            <label for="standars8"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standars8" />
            <label for="standars8"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standars9" />
            <label for="standars9"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standars9" />
            <label for="standars9"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar10" />
            <label for="standar10"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar10" />
            <label for="standar10"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar11" />
            <label for="standar11"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar11" />
            <label for="standar11"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar12" />
            <label for="standar12"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar12" />
            <label for="standar12"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar13" />
            <label for="standar13"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar13" />
            <label for="standar13"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar14" />
            <label for="standar14"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar14" />
            <label for="standar14"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar15" />
            <label for="standar15"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar15" />
            <label for="standar15"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-10 py-2 ">
            Personal goals setting
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar16" />
            <label for="standar16"></label>
        </div>
        <div class="col-1  py-2 text-center">
            <input type="radio" name="standar16" />
            <label for="standar16"></label>
        </div>
    </div>
</section>