<div class="container-fluid detall">
    <div class="row">
        <div class="col-12">
            <h1 class="title">Standards</h1>
        </div>
        <div class="col-12">
            <article class="detall__contenc">
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/1.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/2.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/3.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/4.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/5.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/6.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/7.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/8.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/9.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/10.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/11.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/12.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/13.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/14.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/15.jpg" />
                </div>
                <div class="detall__item">
                    <img class="img-fluid" src="../../../assets/img/16.jpg" />
                </div>
            </article>
        </div>
    </div>
</div>

<section class="">


</section>