<section class="login__seccion">
  <div class="login">
    <h1 class="login__title">Quality Standards</h1>
    <div class="login__content">
      <div class="login__img">
        <img src="../../assets/img/Invertido-Negro.png" alt="">
      </div>
      <form class="login__form" [formGroup]="rForm" (ngSubmit)="startLogin(rForm.value)">
        <input type="email" class="form-control" placeholder="email" formControlName='email' [class.is-invalid]="!rForm.controls['email'].valid && rForm.controls['email'].touched">
        <div class="invalid-feedback" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
          invalid email
        </div>
        <input type="password" class="form-control mt-3" placeholder="password" formControlName='password' [class.is-invalid]="!rForm.controls['password'].valid && rForm.controls['password'].touched">
        <div class="invalid-feedback" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
          the field is required
        </div>
        <button class='btn btn-block login__btn mt-3' [disabled]="!rForm.valid">Log In</button>
      </form>
    </div>
    <a class="login__link" href="">Forgot password?</a>
  </div>
</section>
