<div class="container-fluid login__Back">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 col-sm-12">
            <div class="login__content pb-1 mt-3">
                <h1 class="login__title">Estandares de calidad</h1>
                <div class="login__img">
                    <img class="img-fluid" src="../../assets/img/Invertido-Negro.png" />
                </div>
                <div class="login__form px-5">
                    <input class="form-control mb-2" type="email">
                    <input class="form-control mb-2" type="password">
                    <button class="btn btn-block mb-2 btn__red">Log in</button>
                </div>
                <a class="login__footer" href="https://auth.aiesec.org/users/password/new" target="_blank">
                       Forgot password? 
                </a>
            </div>
        </div>
    </div>
</div>