<nav class="menu">
    <div class="menu__img">
        <img src="../../../assets/img/Copy.png" />
        <h3>Desarrolador UPB</h3>
        <p>DesarrolloUPB@aiesec.net</p>
    </div>
    <div class="menu__contactos ">
        <ul class="menu__numbers ">
            <li class="manu__items ">
                <span></span>Contacts of AIESEC
            </li>
            <li class="manu__items ">
                <span></span>Desarrolo UPB: (+57) 3016954239
            </li>
            <li class="manu__items ">
                <span></span>Desarrolo UPB: (+57) 3016954239
            </li>
        </ul>
        <ul class="menu__numbers ">
            <li class="manu__items">
                <span></span>Other contacts
            </li>
            <li class="manu__items ">
                <span></span>Desarrolo UPB: (+57) 3016954239
            </li>
            <li class="manu__items ">
                <span></span>Desarrolo UPB: (+57) 3016954239
            </li>
        </ul>
    </div>
    <ul class="menu__navegation ">
        <li class="menu__itemNavegation ">
            <a class="menu__link" [routerLink]="['/app/listStandars']">
                <span><img src="../../../assets/img/marcar.png"></span> Standards
            </a>
        </li>
        <li class="menu__itemNavegation ">
            <a class="menu__link " [routerLink]="['/app']">
                <span><img src="../../../assets/img/marcar.png"></span> View standards
            </a>
        </li>
        <li class="menu__itemNavegation ">
            <a class="menu__link ">
                <span><img src="../../../assets/img/marcar.png"></span> Maps
            </a>
        </li>
        <li class="menu__itemNavegation ">
            <a class="menu__link ">
                <span><img src="../../../assets/img/marcar.png"></span>
            </a>
        </li>
    </ul>
</nav>
<p class="copyright">© COPYRIGHT-UPB-MEDELLIN-2018</p>